<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Volunteer', root_path, id: 'logo' %>
  </div>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'top_design', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</header>
